<!DOCTYPE html>
<html lang="en">

<head>
    <title>Prakhar's Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Prakhar's Portfolio website">
    <meta name="author" content="Prakhar Bhartiya">
    <link rel="stylesheet" href="card.css">
</head>

<body>
    <div class="work-grid">
    <div class="card">
        <a href="#0">
            <h3> Stellar Variability Investigation in VR</h3>
            <p> > NASA - TESS data investigation in VR for Exoplanet discover + Stellar Variability.</p>
            <p> Unity3D, C#, Python, Flask</p>
        </a>
    </div>
    <div class="card">
        <a href="#0">
            <h3> Stellar Variability Investigation in VR</h3>
            <p> > NASA - TESS data investigation in VR for Exoplanet discover + Stellar Variability.</p>
            <p> Unity3D, C#, Python, Flask</p>
        </a>
    </div>
    <div class="card">
        <a href="#0">
            <h3> Stellar Variability Investigation in VR</h3>
            <p> > NASA - TESS data investigation in VR for Exoplanet discover + Stellar Variability.</p>
            <p> Unity3D, C#, Python, Flask</p>
        </a>
    </div>
    <div class="card">
        <a href="#0">
            <h3> Stellar Variability Investigation in VR</h3>
            <p> > NASA - TESS data investigation in VR for Exoplanet discover + Stellar Variability.</p>
            <p> Unity3D, C#, Python, Flask</p>
        </a>
    </div>
    <div class="card">
        <a href="#0">
            <h3> Stellar Variability Investigation in VR</h3>
            <p> > NASA - TESS data investigation in VR for Exoplanet discover + Stellar Variability.</p>
            <p> Unity3D, C#, Python, Flask</p>
        </a>
    </div>
    <div class="card">
        <a href="#0">
            <h3> Stellar Variability Investigation in VR</h3>
            <p> > NASA - TESS data investigation in VR for Exoplanet discover + Stellar Variability.</p>
            <p> Unity3D, C#, Python, Flask</p>
        </a>
    </div>
    <div class="card">
        <a href="#0">
            <h3> Stellar Variability Investigation in VR</h3>
            <p> > NASA - TESS data investigation in VR for Exoplanet discover + Stellar Variability.</p>
            <p> Unity3D, C#, Python, Flask</p>
        </a>
    </div>
    <div class="card">
        <a href="#0">
            <h3> Stellar Variability Investigation in VR</h3>
            <p> > NASA - TESS data investigation in VR for Exoplanet discover + Stellar Variability.</p>
            <p> Unity3D, C#, Python, Flask</p>
        </a>
    </div>
    <div class="card">
        <a href="#0">
            <h3> Stellar Variability Investigation in VR</h3>
            <p> > NASA - TESS data investigation in VR for Exoplanet discover + Stellar Variability.</p>
            <p> Unity3D, C#, Python, Flask</p>
        </a>
    </div>
</div>

    <!-- <a href="https://mythrillfiction.com/" target="_blank">Mythrill</a> -->
</body>

</html>