@property --rotate {
    syntax: "<angle>";
    initial-value: 69deg;
    inherits: false;
  }
  
  /* :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  } */
  :root {
    --card-height: 15vh;
    --card-width: calc(var(--card-height) * 3);
  }
  
  
  body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box; 
    }

    .work-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 40px;
    }
  
  .card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 30px;
    position: relative;
    border-radius: 6px;
    justify-content: left;
    align-items: left;
    text-align: left;
    display: flex;
    
  }

  .card a,h3,p {
    color:whitesmoke;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
  }
  
  /* .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  } */
  
  
  .card:hover:before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 1.5s linear infinite;
  }
  
  .card:hover:after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  