<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="swipper.css" />
  <!-- Include Swiper CSS -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <!-- Styles -->
  <link href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" rel="stylesheet" />
  <!-- Script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.6/swiper-bundle.min.js"></script>
  <title>Swipper</title>
</head>

<body>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
    </div>

    <div class="pagination"></div>

    <div class="prev">
      <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.2625 13.2375L3.5375 7.5L9.2625 1.7625L7.5 0L0 7.5L7.5 15L9.2625 13.2375Z" fill="#A99260" />
      </svg>
    </div>
    <div class="next">
      <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.737305 13.2375L6.4623 7.5L0.737305 1.7625L2.4998 0L9.9998 7.5L2.4998 15L0.737305 13.2375Z"
          fill="#A99260" />
      </svg>
    </div>
  </div>
  <script>
    const swiper = new Swiper(".swiper", {
      slidesPerView: 4,
      spaceBetween: 50,
      loop: true,
      grabCursor: true,
      centeredSlides: true,
      slideActiveClass: "active",
      navigation: {
        nextEl: ".next",
        prevEl: ".prev"
      },
      pagination: {
        el: ".pagination",
        clickable: true
      },
      autoplay: {
        enabled: true,
        delay: 5000
      },
      // Media
      // breakpoints: {
      //   // when window width is >= 320px
      //   320: {
      //     slidesPerView: 2,
      //     spaceBetween: 20
      //   },
      //   // when window width is >= 480px
      //   480: {
      //     slidesPerView: 4,
      //     spaceBetween: 30
      //   },
      // }
    });
  </script>
</body>

</html>